/* tipografia titulos */
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
.gabriela-regular {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  --negro: #000000;
  --rojo_principal: #FF3D3D;
  --blanco: #ffffff;
}

body {
    margin: 0;
    overflow: hidden;
}

#fondo3D {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#nav_bar{
    width: 100%;
    height: 8vw;
    background-color: var(--rojo_principal);
    border-style: solid;
    border-width: 2px;
    border-color: var(--negro);
    display: flex;
}

#nav_bar img{
    margin: 0;
    float: left;
    height: 12vh;
}

#nav_bar img:hover{
    cursor: pointer;
}

a{
    margin: auto;
    text-decoration: none;
    color: var(--rojo_principal);
}

.button{
    width: 12%;
    height: 23%;
    background-color: var(--blanco);
    border-style: solid;
    border-color: var(--negro);
    border-width: 2px;
    text-align: center;

    font-size: xx-large;
    margin: auto;
}

.button:hover{
    cursor: pointer;
    text-shadow: 2px 2px var(--negro);
    margin-bottom: 50px;
}

#texto_principal{
    width: 60%;
    height: 300px;
    background-color: var(--blanco);
    border-style: solid;
    border-color: var(--negro);
    border-width: 2px;
    text-align: center;

    font-size: 250%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    /* text-shadow:
    1px 1px 2em var(--negro),
    0 0 2em var(--negro),
    0 0 2em var(--negro); */
}

#boton_admin{
    display: none;
}

#Contenedor_ordenes{
    
}

.plantilla_orden{
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-color: var(--negro);
    border-width: 2px;
    border-style: solid;
    width: 90%;
    height: 50px;
    color: var(--negro);
    background-color: var(--rojo_principal);
    font-size: x-large;
}

.plantilla_orden .boton_Editar{
    margin: auto;
}

.plantilla_orden .boton_cancelar{
    margin: auto;
}

.plantilla_orden .plantilla_precio{
    margin: auto;
}

.plantilla_orden .plantilla_tamano{
    margin: auto;
}

.plantilla_orden .plantillla_ingredientes{
    margin: auto;
}

.plantilla_orden .plantilla_guarnicion{
    margin: auto;
}